@import "../../styles/config";

.textTableMagins {
  margin: 0.8rem;
}

.deleteErrorMsg {
  @extend .error;
  animation: fade-in 1s linear;
  // animation-fill-mode: forwards;
  animation-direction: alternate;
}

.tableStyles {
  width: 100%;
  button {
    // font-size: smaller;
    all: unset;
    background-color: lightgray;
    padding: 0 0.4rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #3aa3aa;
    }
  }
}

.recipesSection {
  @include fade-in;
}

.recipesList {
  padding: 0;
  list-style-type: none;
  @include fade-in;
}

.errorMsg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;
  // min-height: 23.4vh;
  // margin-bottom: 6rem;
}

.errorMsgFilters {
  @extend .errorMsg;
  margin-top: 0rem;
}
