@import "../../styles/config.scss";

.formLayout {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  div {
    width: 100%;
  }
}

.submitBtn {
  align-self: flex-start;
}

.paragraphLayout {
  margin-top: 1rem;
  align-self: flex-start;
}

.error {
  margin-top: 1rem;
  // margin-bottom: 1rem;
  color: #dc3545;
  text-align: center;
}

.loading {
  @extend .error;
  color: inherit;
  @include loading-effect;
}
