@import "../../../styles/config";

.outerWrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorLayout {
  background-color: $tertiary-color;
  width: 80%;
  margin: 1rem auto;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 25px;

  @include shadow;
}

.formLayout {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  div {
    width: 100%;
  }
}

.submitBtn {
  align-self: flex-start;
  min-width: 4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 0.4rem;
}

.paragraphLayout {
  margin-top: 1rem;
  align-self: flex-start;
}

.loading {
  @extend .error;
  color: inherit;
  @include loading-effect;
}

@media only screen and (min-width: 917px) {
  .formLayout {
    width: 70%;
  }

  .outerWrapper {
    width: 70%;
    margin: auto;
  }
}
