@import "../../../styles/config";

.articleLayout {
  margin: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}

.imgLayout {
  @include shadow;

  margin-bottom: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;

  img {
    border-radius: 15px;
  }
}

.showMoreBtn {
  all: unset;
  color: $secondary-color;
  font-size: smaller;
  text-decoration-line: underline;
}

.icon {
  color: $secondary-color;
  margin-right: 0.3rem;
}

.lists {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.statsList {
  @extend .lists;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  li {
    margin: 0 0.5rem;
  }
}

.ingredientsList {
  @extend .lists;
}

.itemsNotAvailable {
  text-align: center;
}

.stepNumber {
  color: #bc6c25;
  line-height: initial;
  font-size: 2rem;
}

// Media queries
@media (min-width: 570px) {
  .imgLayout {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 670px) {
  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      flex: 0 1 50%;
    }
  }
}

@media (min-width: 1000px) {
  .ingredientsList {
    & > * {
      flex: 0 1 33%;
    }
  }

  .articleLayout {
    margin: 1.5rem 4rem;
  }
}
