.summaryLayout {
  margin: 1rem;
}

.imgLayout {
  margin-bottom: 1.5rem;
}

.showMoreBtn {
  all: unset;
  color: #3aa3aa;
  // font-family: arial;
  font-size: smaller;
  // font-weight: 600;
  text-decoration-line: underline;
}
