@font-face {
  font-family: "Raspoutine Classic";
  src: url("../assets/fonts/RaspoutineClassic_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raspoutine Medium";
  src: url("../assets/fonts/RaspoutineMedium_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

//variables
$primary-color: #0e3013;
$secondary-color: #5a8226;
$tertiary-color: #f3efe5;

body {
  margin: 0;
  font-family: "Raspoutine Classic", sans-serif;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
  min-height: 100vh;
}

main {
  min-height: 90vh;
}

h1 {
  font-family: "Raspoutine Medium", sans-serif;
  margin: 1.5rem 0.5rem;
  padding: 1px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0.9rem;
}

a {
  &:hover {
    color: $secondary-color;
  }
}

.error {
  margin-top: 1rem;
  color: #dc3545;
  text-align: center;
}

button {
  all: unset;
  cursor: pointer;
  min-width: 7rem;
  text-align: center;
  background-color: white;
  border: 3px solid $secondary-color;
  padding: 0 0.5rem;
  border-radius: 5px;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

// Animations
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin loading-effect {
  @include fade-in;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@mixin fade-in {
  animation: fade-in 0.5s linear;
  animation-fill-mode: forwards;
}

@mixin shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

// scrollbar for mozilla. Colors are different from ::-webkit-scrollbar to improved constrats on firefox due to lack of customizability
html {
  scrollbar-width: thin;
  scrollbar-color: #efe9dc #a7a39a;
}

// scrollbar for Chrome, Edge, Safari
html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb {
  height: 60px;
  background: $tertiary-color;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb:hover {
  background: #efe9dc;
}
