.form-layout {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.field-layout {
  margin: 1rem 0;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none;
  padding-right: 12px;
  border: 1px solid #ced4da;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
  padding-right: 12px;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}

.was-validated .form-check-input:valid,
.form-check-input.is-valid {
  border-color: inherit;
}

.was-validated .form-check-input:valid:checked,
.form-check-input.is-valid:checked {
  background-color: $primary;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
