@font-face {
  font-family: "Raspoutine Classic";
  src: url("../assets/fonts/RaspoutineClassic_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raspoutine Medium";
  src: url("../assets/fonts/RaspoutineMedium_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Raspoutine Classic", sans-serif;
  color: #0e3013;
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0.9rem;
}

.error {
  margin-top: 1rem;
  color: #dc3545;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.9rem;
  border-top: 1px solid lightgray;
  background-color: rgb(251, 252, 253);
  height: 10vh;
}
.layout a {
  display: flex;
  color: #0e3013;
}
.layout a:hover {
  color: #bc6c25;
}