@font-face {
  font-family: "Raspoutine Classic";
  src: url("../assets/fonts/RaspoutineClassic_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raspoutine Medium";
  src: url("../assets/fonts/RaspoutineMedium_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Raspoutine Classic", sans-serif;
  color: #0e3013;
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0.9rem;
}

.error {
  margin-top: 1rem;
  color: #dc3545;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.articleLayout {
  margin: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}

.imgLayout {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
}
.imgLayout img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.showMoreBtn {
  all: unset;
  color: #bc6c25;
  font-size: smaller;
  text-decoration-line: underline;
}

.icon {
  color: #bc6c25;
  margin-right: 0.3rem;
}

.lists, .ingredientsList, .statsList {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.statsList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.statsList li {
  margin: 0 0.5rem;
}

.itemsNotAvailable {
  text-align: center;
}

.stepNumber {
  color: #bc6c25;
  line-height: initial;
  font-size: 2rem;
}

@media (min-width: 570px) {
  .imgLayout {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 670px) {
  .ingredientsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ingredientsList > * {
    flex: 0 1 50%;
  }
}
@media (min-width: 1000px) {
  .ingredientsList > * {
    flex: 0 1 33%;
  }
  .articleLayout {
    margin: 1.5rem 4rem;
  }
}