@font-face {
  font-family: "Raspoutine Classic";
  src: url("../assets/fonts/RaspoutineClassic_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raspoutine Medium";
  src: url("../assets/fonts/RaspoutineMedium_TB.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Raspoutine Classic", sans-serif;
  color: #0e3013;
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0.9rem;
}

.error, .loading {
  margin-top: 1rem;
  color: #dc3545;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formLayout {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.formLayout div {
  width: 100%;
}

.submitBtn {
  align-self: flex-start;
}

.paragraphLayout {
  margin-top: 1rem;
  align-self: flex-start;
}

.error, .loading {
  margin-top: 1rem;
  color: #dc3545;
  text-align: center;
}

.loading {
  color: inherit;
  animation: fade-in 0.5s linear;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}