@import "../../../styles/config";

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.9rem;

  border-top: 1px solid lightgray;
  background-color: rgb(251, 252, 253);
  height: 10vh;

  a {
    display: flex;
    color: $primary-color;

    &:hover {
      color: $secondary-color;
    }
  }
}
