@import "../../../styles/config";

.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid lightgray;
  background-color: rgb(251, 252, 253);
  height: 56px;

  a {
    display: flex;
    justify-content: center;
    width: 25%;
    padding-top: 0.8rem;
    
    img {
      min-height: 30px;
      max-height: 45px;
      // width:25%;
      // max-width: 25%;
      // max-height: px;
    }
  }
}