@import "../../../styles/config";

// a {
//   opacity: 1;
// }

// button {
//   opacity: 1;
// }

.navBar {
  height: 56px;
}

.link {
  text-decoration: none;
}

.btn {
  all: unset;
  color: $primary-color;
  &:hover {
    background: none;
    color: $secondary-color;
  }
}
