@import "../../../styles/config";

.navBar {
  height: 56px;
}

.link {
  text-decoration: none;
}

.btn {
  all: unset;
  color: $primary-color;
  &:hover {
    background: none;
    color: $secondary-color;
  }
}
