@import "../styles/config";

.container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include fade-in;

  // animation: loader 0.85s ease-in-out;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.carrotIcon {
  display: block;
  font-size: 3rem;
  color: #3aa3aa;
  margin-bottom: 1rem;
}
