@import "../styles/config";

.card {
  display: flex;

  margin: 0.5rem;

  border: 0.5px solid lightgray;
  border-radius: 5px;
  height: 150px;

  @include fade-in;
}

.imgContainer {
  position: relative;

  max-width: 135px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.contentContainer {
  position: relative;
  width: 100%;
  height: 100%;

  border: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgb(251, 252, 253);
}

.contentLayout {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;

  transform-style: preserve-3d;
  transition: 0.5s linear 0.1s;
}

.showBack {
  @extend .contentLayout;
  transform: rotateY(180deg);
}

.cardSides {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 252, 253);

  backface-visibility: hidden;
  position: absolute;
}

.front {
  @extend .cardSides;
  padding: 0.5rem 1rem;
  transform: rotateY(0);
}

.back {
  @extend .cardSides;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  border: inherit;

  transform: rotateY(180deg);
}

.recipeBtn {
  all: unset;
  padding: 0px;

  position: absolute;
  bottom: -0.3rem;
  right: 0.1rem;
  font-size: 1.5rem;
  color: $primary-color;
}

.textOverflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.heading {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.recipeHeading {
  @extend .textOverflow;
  @extend .heading;

  -webkit-line-clamp: 2;
}

.recipeDescription {
  @extend .textOverflow;

  -webkit-line-clamp: 3;
  font-size: 0.8rem;
  line-height: 1rem;
}

.ingredientsHeading {
  @extend .heading;

  margin: 0.2rem auto;
}

.ingredientsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  font-size: 0.8rem;
}

.listStyle {
  height: 100%;
  line-height: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  li {
    margin: 0.1rem;
    border-radius: 20px;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 570px) {
  .card {
    flex-direction: column;
    width: 250px;
    height: 400px;
  }

  .imgContainer {
    max-width: 100%;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: inherit;
  }

  .recipeHeading {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    -webkit-line-clamp: 3;
  }

  .recipeDescription {
    -webkit-line-clamp: 6;
  }

  .contentContainer,
  .cardBack {
    border-bottom-left-radius: 5px;
  }
}
