.carouselLayout {
  max-height: 70vh;
}

.caption {
  font-weight: 600;
  text-shadow: 2px 2px 3px black;

  h3 {
    color: white;
  }
}

@media only screen and (min-width: 1000px) {
  .caption p {
    font-size: 1.2rem;
  }
}
