@import "../../../styles/config";

.dialog {
  border-radius: 15px;
  border: none;
  padding: 25px 25px;
  @include shadow;

  background-color: $tertiary-color;

  p {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.btnGroup {
  display: flex;
  justify-content: space-around;
}
