@import "../../../styles/config";

.textTableMagins {
  margin: 0.8rem;
}

.welcomeMsg {
  text-align: center;
}

.accountInfo {
  margin: 3rem auto;
}
.deleteErrorMsg {
  @extend .error;
  animation: fade-in 1s linear;
  animation-direction: alternate;
}

.tableStyles {
  width: 100%;

  tr:hover {
    background-color: $tertiary-color;
  }

  td,
  th {
    padding: 0.5rem;
    border-bottom: 1px solid lightgray;
  }
}

@media only screen and (min-width: 750px) {
  .tableStyles {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}
